RABBITMQ_URL='amqp://user:pass@host:5672'
RABBITMQ_PREFIX='autoblock.sync'
RABBITMQ_CONSUMER_MAX_RETRIES=3

MAGNUSBILLING_BASE_URL='http://your_magnus_url/mbilling'
MAGNUSBILLING_API_KEY='xyz'
MAGNUSBILLING_API_SECRET='xyz'

IXCSOFT_BASE_URL='https://your_ixc_url'
IXCSOFT_API_TOKEN='xyz'

DISCORD_NOTIFICATION_WEBHOOK_URL='https://discord.com/api/webhooks/1470401374067101827/la53uNmPFcsL3PrrW-JrczRZptqb2IbIq2WY6pjql3ecGCVykd9zSH0gQHDpC4uvyeVU'

HTTP_SYNC_TOKEN='7f21bb60ea0b9544f21d5bf85bedb9812714a0690edbd1c6238b19030d0c134c'
HTTP_SYNC_PORT=3000

# polls every POLLING_RATE_MINUTES, considering start from 00:00
POLLING_RATE_MINUTES=30

# test key for development. will do everything except actually update the users in magnusbilling
DEV_MAGNUSBILLING_STOP_UPDATE=true