RABBITMQ_URL='amqp://user:pass@host:5672'
RABBITMQ_PREFIX='autoblock.sync'
RABBITMQ_CONSUMER_MAX_RETRIES=3

MAGNUSBILLING_BASE_URL='http://your_magnus_url/mbilling'
MAGNUSBILLING_API_KEY='xyz'
MAGNUSBILLING_API_SECRET='xyz'

IXCSOFT_BASE_URL='https://your_ixc_url'
IXCSOFT_API_TOKEN='xyz'
